.galeria-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: flex-start;
  align-items: flex-start;
}

.galeria-flex a {
  display: block;
  height: 180px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
}

.galeria-flex img {
  height: 100%;
  width: auto;
  display: block;
  object-fit: cover;
  border-radius: 8px;
}

#solicitar-acceso {
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  color: #471edb;
  font-weight: 600;
  border: 1px solid #471edb !important;
  margin-top: 20px;

  transition: background-position 0.4s;
  background-size: 200% 100%;
  background-position: left;
}
#solicitar-acceso:hover {
  background-position: right;
}

input[type="file"] {
  margin-top: 10px;
  display: block;
  width: 100%;
  font-size: 1rem;
  color: #45bf62;
  background-color: #fff;
  transition: border-color 0.2s;
}

input[type="file"]::file-selector-button {
  color: #fff;
  background-color: #45bf62;
  border: none;
  border-radius: 6px;
  padding: 6px 16px;
  margin-right: 10px;
  cursor: pointer;
  transition: background 0.2s;
}

input[type="file"]::file-selector-button:hover {
  opacity: 0.8;
}

button[type="submit"] {
  background-color: #45bf62;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
  margin-top: 10px;
  padding: 6px 16px;
}

button[type="submit"]:hover {
  opacity: 0.8;
}