#calendar {
  max-width: 700px;
  margin: 0 auto;
}

.fc {
  font-family: "Poppins", sans-serif; 
  background-color: #f8f9fa; 
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.fc-header-toolbar {
  background-color: white; 
  color: white;
  padding: 10px 15px;
  border-radius: 8px 8px 0 0; 
}

.fc-button {
  background-color: #2150c7;
  color: white;
  border: none;
  border-radius: 25px; 
  padding: 8px 20px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}
.fc-button:hover {
  background-color: #2150c7; 
}
.fc-button:focus {
  outline: none;
}

.fc-day {
  background-color: white;
  color: #495057; 
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.fc-day:hover {
  background-color: #f1f3f5; 
}

.fc-day-number {
  font-size: 16px;
  font-weight: bold;
  color: #495057; 
}

.fc-event {
  background-color: #2150c7; 
  color: white;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none !important; 
  text-align: center;
  font-family: sans-serif;
}

.fc-event:hover {
  background-color: #1c3d73; 
}

.fc-day-grid-event.fc-event {
  background-color: #00bfae;
  color: white;
}

.fc-event.custom-color {
  background-color: #e74a3b; 
}

.fc-event.custom-color:hover {
  background-color: #c0392b; 
}

.fc-month-view {
  font-family: "Poppins", sans-serif;
}

.fc-event.fc-event-selected {
  background-color: #2150c7;
  border: none;
}

.fc-prev-button,
.fc-next-button {
  background-color: #2150c7;
  border-radius: 50%;
  color: white;
  font-size: 18px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fc-prev-button:hover,
.fc-next-button:hover {
  background-color: #2150c7;
}

/* Estilo de la selección de la fecha */
.fc-daygrid-day-top {
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#calendar {
  font-family: "Jost";
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}

#calendar button[title="Previous month"] {
  display: flex !important;
}

#calendar button[title="Next month"] {
  display: flex !important;
}

#calendar button[title="Previous week"] {
  display: flex !important;
}

#calendar button[title="Next week"] {
  display: flex !important;
}

#calendar a {
  text-decoration: none !important; 
}

#calendar .fc-day-today {
  background-color: #a5dd8725 !important; 
  border: 2px solid #46bc62 !important; 
  color: #46bc62 !important; 
  font-weight: bold; 
}

#calendar .fc-day-today:hover {
  background-color: #a5dd8756 !important; 
}

#calendar .fc-header-toolbar {
  margin-bottom: 0.5em;
}

@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#calendar .fc-toolbar-title {
  font-family: "Jost";
  font-size: 1.5em;
  font-weight: 600;
  color: #2150c7; 
  text-transform: capitalize;
}

.tituloCalendario {
  font-family: "Jost";
}

.fc-button {
  border: none !important;
  background: none !important;
}

.fc-button span {
  color: #2150c7;
}

.fc-daygrid-day-number {
  color: gray;
}

.fc-col-header-cell-cushion {
  color: black;
}


.fc-today-button {
  background-color: #2150c7 !important;
  color: white !important;
  opacity: 1 !important;
  border-radius: 10px !important;
  transition: all 0.3s ease !important;
}

.fc-today-button:hover {
  opacity: 0.8 !important;
  transition: all 0.3s ease !important;
}

.fc-dayGridMonth-button {
  color: #2150c7 !important;
}

.fc-timeGridWeek-button {
  color: #2150c7 !important;
}

.fc-button-active {
  border: 2px solid #2150c7 !important;
  box-shadow: none !important;
}

.fc-button-active:focus {
  box-shadow: none !important;
}

.fc-button {
  box-shadow: none !important;
}

.fc-col-header-cell-cushion {
  text-transform: capitalize;
}

/*** Estilo para el tooltip de SweetAlert2 */

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm) {
  border: 2px solid #2150c7 !important;
  border-radius: 0.25em;
  background: initial;
  background-color: #2150c7 !important;
  color: #fff;
  font-size: 1em;
  box-shadow: none !important;
}

div:where(.swal2-container) button:where(.swal2-styled):not([disabled]) {
  border-radius: 20px;
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-cancel) {
  border: 2px solid black !important;
  border-radius: 0.25em;
  background: initial;
  background-color: white !important;
  color: black !important;
  font-size: 1em;
}

div:where(.swal2-icon).swal2-info {
  border-color: #ff870c !important;
}

div:where(.swal2-icon).swal2-info {
  color: #ff870c !important;
}

#usuarios-reservados {
  width: fit-content;
  margin: 0 auto;
  text-align: left;
  ul {
    list-style-type: number;
  }
}

.flatpickr-months .flatpickr-month {
  background: #2150c7 !important;
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
  background: #2150c7 !important;
}

.flatpickr-weekdays {
  background: #2150c7 !important;
}

span.flatpickr-weekday {
  background: #2150c7 !important;
  color: white !important;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  background: #2150c7 !important;
  border-color: #2150c7 !important;
}

.flatpickr-current-month
  .flatpickr-monthDropdown-months
  .flatpickr-monthDropdown-month {
  background-color: #2150c7 !important;
}

div:where(.swal2-container) .swal2-select {
  min-width: 58% !important;
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-deny) {
  border: 2px solid #c2040b !important;
  background-color: #c2040b !important;
}


