:root {
  --fondo: #161d22;
  --blanco: white;
  --blanco-secundario: rgb(228, 224, 224);
  --azul: rgb(109, 175, 219);
  --gris-claro: rgb(201, 201, 201);
  --verde: #228637;
  --azul: #2052c5;
  --azul-claro: #3d68cc33;


}

#searchInput {
  background: none;
  border: none;
  outline: none;
  color: black;
}

#searchInput::placeholder {
  color: black;
}

.input-subtitle {
  color: black;
  font-size: small;
}

.search-bar {
  border-bottom: 1px solid black;
}

#link-crear-academia{
  color: var(--azul) !important;
}

#link-crear-academia:hover {
  text-decoration: underline !important;
}


.resultado {
  color: black;
  border-bottom: 1px solid var(--gris-claro);
}

.resultado:hover {
  background-color: var(--azul-claro) !important;
  transition: all 100ms linear;
}

#resultados {
  max-height: 15rem;
  overflow-y: scroll;
}

#resultados::-webkit-scrollbar {
  width: 0.3rem;
}

#resultados::-webkit-scrollbar-thumb {
  background-color: var(--azul);
  border-radius: 10px;
}

#resultados::-webkit-scrollbar-thumb:hover {
  opacity: 0.6;
}

h4 {
  font-size: 40px;
}