@import "variables.less";
@import "funciones.less";


h4 {
    --min: 40;
    --max: 40;
    --mintrans: 1000;
    --maxtrans: 1920;
    font-size: ~"clamp(var(--min) * 1px, calc((var(--max) - var(--min)) * ((100vw - var(--mintrans) * 1px) / (var(--maxtrans) - var(--mintrans))) + var(--min) * 1px), var(--max) * 1px)" !important;

    font-family: @acumin;
    color: @azul-oscuro;
    font-weight: 800;
}

@font-face {
    font-family: 'Acumin';
    src: url('../../fonts/Acumin-BdItPro.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}